html {
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
}

* {
    box-sizing: border-box;
    font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
}

.text {
    color: rgba(255, 255, 255, .3);
    font-size: 45px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding: 20px 30px;
}

body {
    background: #2e2a23;
    color: whitesmoke;
}

.test-class {
    color: brown;
}

.css-list, .html-list {
    list-style-type: none;
    padding: 0;
    align-items: center;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px;
}
.css-list {
    color: #999;
    background: #DDD;
}
.html-list {
    color: #666;
    border-right: solid 1px #333;
}

.html-code { 
    width: 100%;
}
.html-viewer, .css-viewer {
    background-color: #201d18;
    flex: 1 1 50%;
    border-right: 1px solid rgba(255, 255, 255, .05);
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}
.css-header, .html-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.css-main {
    flex: 1 1 50%;
    display: flex;
}
.main {
    height: 100vh;
    flex: 1 1 auto;
}


.table-wrapper {
    perspective: 400px;
    margin-top: 50px;
}
.table-edge {
    position: relative;
    top: 0;
    left: -3.2%;
    width: 106.4%;
    height: 12px;
    background: #8a5d16;
    transform: rotateX(-40deg);
    transform-origin: top;
}

.table {
    transform-style: preserve-3d;
    min-height: 142px;
    padding: 15px 15px 22px;
    box-shadow: 0 40px 10px #0003;
    background: linear-gradient(#dd992d, #cd8c26);
    display: flex;
    gap: 20px;
    align-items: center;
    transform: rotateX(20deg);
}
.selectors { 
    width: 100%;
    padding: 10px 0px 10px 10px;
    background: #efefef;
    color: #AAA;
}
input {
    color: #333;
    border: none;
    width: 76%;
}
.btn {
    width: 20%;
}

